<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ruanku.xuelian_requirement.dao.DeptMapper">
    <!--<select id="queryAll" resultType="ruanku.xuelian_requirement.model.Dept">-->
        <!--select * from selects;-->
    <!--</select>-->
    <select id="queryAll2" resultType="ruanku.xuelian_requirement.model.Dept">
        select * from selects;
    </select>
</mapper>